{% extends "chat/nav.html" %}
{% block content %}

<div id="frame">
    <div id="sidepanel">
        <div id="profile">
            <img id="profile-img" src="{{ url_for('static', filename='profilepics/' + current_user.image_file) }}"
                class="d-none" />
            <p class="h5 font-weight-bold">Hamrokurani</p>
            <p class="text-muted small font-weight-bold"><span>
                    total messages: {{ getuser | countmessages }}
                </span></p>
        </div>

        <!--? CONTACT SECTION -->
        <div id="contacts">
            <ul>
                {% for user in users %}
                {% if user != current_user %}
                {% if user == getuser %}
                <li class="contact active">
                    {% else %}
                <li class="contact">
                    {% endif %}
                    <a class="noblue" href="{{ url_for('chat.chatwith', user=user.username) }}">
                        <div class="wrap">
                            {% if user != getuser and user.last_message_read_time | isactive == 'offline' %}
                            <span class="contact-status"></span>
                            {% elif user != getuser and user.last_message_read_time | isactive != 'offline' %}
                            <span class="contact-status online"></span>
                            {% else %}
                            {% endif %}
                            <img src="{{ url_for('static', filename='profilepics/' + user.image_file) }}" />

                            <div class="meta">
                                <p class="name">{{ user.fullname }}</p>
                                {% if user | lastmessageauthor == current_user %}
                                <p class="preview"><span>You: </span>{{ user | lastmessage | decrypt }}</p>
                                {% else %}
                                {% if not user | lastmessage %}
                                <p class="preview"><span>no conversations yet</span></p>
                                {% else %}
                                <p class="preview"><span>{{ user | lastmessage | decrypt }}</span></p>
                                {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </a>
                </li>
                {% else %}
                {% endif %}
                {% endfor %}
            </ul>
        </div>

        <div id="bottom-bar">
            <button id="settings">
                <ul>
                    <li>
                        <a href="{{ url_for('users.settings') }}" class="noblue">
                            <i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Settings</span></a>
                    </li>
                </ul>
            </button>
            <button id="exit">
                <ul>
                    <li class="disconnect"><a href="{{ url_for('chat.home') }}" class="noblue">
                            <i class="fa fa-sign-out" aria-hidden="true"></i><span>Exit</span></a></li>
                </ul>
            </button>
        </div>

    </div>

    <!-- ? MAIN MESSAGE SECTION -->
    <div class="content">
        <div class="contact-profile">
            <img src="{{ url_for('static', filename='profilepics/' + getuser.image_file) }}" />
            <p>{{getuser.fullname}}
                {% if getuser.last_message_read_time | isactive == 'offline' %}
                <small class="badge badge-pill badge-secondary"><b> {{ getuser.last_message_read_time | isactive }}
                    </b></small>
            </p>
            {% else %}
            <small class="badge badge-pill badge-success"><b> {{ getuser.last_message_read_time | isactive }}
                </b></small></p>
            {% endif %}
        </div>

        <div class="messages">
            <ul>
                {% for msg in messages %}
                {% set deletemessage = url_for('chat.deletemessage', id=msg.id, user=getuser.username) %}
                {% if msg.author == current_user %}
                <li class="replies">
                    {% else %}
                <li class="sent">
                    {% endif %}
                    <img src="{{ url_for('static', filename='profilepics/' + msg.author.image_file) }}" />
                    {% if msg.author == current_user %}
                    <p title="{{msg.timestamp | humanify }} ago">
                        {{ msg.message | decrypt }} · <a class="fixblue" href="{{ deletemessage }}">
                            <i class="fa fa-trash-o"></i></a></p>
                    {% else %}
                    <p title="{{msg.timestamp | humanify }} ago">{{ msg.message | decrypt }}</p>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="message-input">
            <div class="wrap">
                <input type="text" id="message" placeholder="Write your message..." />
                <button id="sendmessage"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
            </div>
        </div>

    </div>
</div>

{% endblock content %}