{% extends "chat/nav.html" %}
{% block content %}

<script type="text/javascript"> var profile = "{{ current_user.image_file }}";</script>

<div id="frame">
    <!-- ? SIDEPANEL SECTION -->
    {% include "chat/sidepanel.html" %}
    <!-- ? MAIN MESSAGE SECTION -->
    <div class="content">
        <div class="contact-profile">
            <img src="{{ url_for('static', filename='profilepics/' + getuser.image_file) }}" />
            <p>{{getuser.fullname}}
                {% if getuser.last_message_read_time | isactive == 'offline' %}
                <small class="badge badge-pill badge-secondary"><b> {{ getuser.last_message_read_time | isactive }}
                    </b></small>
            </p>
            {% else %}
            <small class="badge badge-pill badge-success"><b> {{ getuser.last_message_read_time | isactive }}
                </b></small></p>
            {% endif %}
        </div>

        <div class="messages">
            <ul>
                {% for msg in messages %}
                {% set deletemessage = url_for('chat.deletemessage', id=msg.id, user=getuser.username) %}
                {% if msg.author == current_user %}
                <li class="replies">
                    {% else %}
                <li class="sent">
                    {% endif %}
                    <img src="{{ url_for('static', filename='profilepics/' + msg.author.image_file) }}" />
                    {% if msg.author == current_user %}
                    <p title="{{msg.timestamp | humanify }} ago">
                        {{ msg.message }} · <a class="fixblue" href="{{ deletemessage }}">
                            <i class="fa fa-trash-o"></i></a></p>
                    {% else %}
                    <p title="{{msg.timestamp | humanify }} ago">{{ msg.message }}</p>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="message-input">
            <div class="wrap">
                <input type="text" id="message" placeholder="Write your message..." />
                <button id="sendmessage"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
            </div>
        </div>

    </div>
</div>

<!--? LIST OF USERS IN BBCSOCIAL-->
<div id="PeopleToMessage" class="modal">
    <div class="modal-dialog modal-md pr-0 pl-0">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Send Message</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!--?LIST OF USERS IN BBCSOCIAL STARTS HERE-->
            <div class="modal-body p-0 m-0">
                <ul class="list-unstyled">
                    {% for user in current_user.followed %}
                    <li class="media p-0 m-0">
                        <img class="rounded-circle post-img m-2"
                            src="{{ url_for('static', filename='profilepics/' + user.followed.image_file) }}">

                        <div class="media-body p-0 m-0">
                            <a href="{{ url_for('chat.chatwith', user=user.followed.username) }}"
                                class="btn-sm bold button mx-4 pl-4 pr-4 float-right no-underline active mt-1"
                                role="button">Message</a>

                            <small class="text-dark m-0 d-block mt-2"><b>{{ user.followed.fullname }}</b></small>
                            <small><a class="text-muted d-block"
                                    href="{{ url_for('users.user_posts', username=user.followed.username) }}">
                                    @{{ user.followed.username }}</a></small>
                        </div>
                    </li>
                    <hr class="nastyhr p-0 m-0 mb-1 mt-1 pl-0">
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %}