{% extends "chat/nav.html" %}
{% block content %}

<div id="frame">
    <div id="sidepanel">
        <div id="profile">
            <p class="h5 font-weight-bold">Hamrokurani</p>
            <p class="text-muted small font-weight-bold"><span>
                    total users: {{users}}
                </span></p>
        </div>

        <div id="contacts">
            <ul>
                {% for sender in senders %}
                <li class="contact">
                    <a class="noblue" href="{{ url_for('chat.chatwith', user=sender.username) }}">
                        <div class="wrap">
                            {% if sender.last_message_read_time | isactive == 'offline' %}
                            <span class="contact-status"></span>
                            {% else %}
                            <span class="contact-status online"></span>
                            {% endif %}
                            <img src="{{ url_for('static', filename='profilepics/' + sender.image_file) }}" />
                            <div class="meta">
                                <p class="name">{{ sender.fullname }} </p>

                                <p class="preview">
                                    {% if sender | newmessages > 0 %}
                                    <small class="badge badge-dark mb-1"><b> {{ sender | newmessages }}
                                            Messages</b></small>
                                    {% else %}
                                    {% endif %}
                                    <span class="small font-weight-bold">last active {{ sender.last_message_read_time |
                                        humanify }}
                                        ago</span>
                                </p>
                            </div>
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div id="bottom-bar">
            <button id="settings">
                <ul>
                    <li>
                        <a href="{{ url_for('users.settings') }}" class="noblue">
                            <i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Settings</span></a>
                    </li>
                </ul>
            </button>
            <button id="exit">
                <ul>
                    <li class="disconnect"><a href="{{ url_for('chat.home') }}" class="noblue">
                            <i class="fa fa-sign-out" aria-hidden="true"></i><span>Exit</span></a></li>
                </ul>
            </button>
        </div>

    </div>

    <div class="content">
        <div class="select-info">
            <p>Select a user from the sidepanel to start chatting!</p>
        </div>
    </div>

</div>
</div>

{% endblock content %}