{% extends "chat/nav.html" %}
{% block content %}

<script type="text/javascript"> var profile = "{{ current_user.image_file }}"; </script>

<div id="frame">
    <div id="sidepanel">
        <div id="profile">
            <div class="wrap">
                <img id="profile-img" src="{{ url_for('static', filename='profilepics/' + current_user.image_file) }}"
                    class="online" />
                <p>{{ current_user.fullname }} <span><small class="badge badge-secondary">
                            <b> {{ getuser | countmessages }} </b></small></span> </p>

            </div>
        </div>

        <div id="search">
            <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
            <input type="text" placeholder="Search contacts..." />
        </div>

        <!--? CONTACT SECTION -->
        <div id="contacts">
            <ul>
                {% for sender in senders %}
                {% if sender != current_user %}
                {% if sender == getuser %}
                <li class="contact active">
                    {% else %}
                <li class="contact">
                    {% endif %}
                    <a class="noblue" href="{{ url_for('chat.chatwith', user=sender.username) }}">
                        <div class="wrap">
                            {% if sender != getuser and sender.last_message_read_time | isactive == 'offline' %}
                            <span class="contact-status"></span>
                            {% elif sender != getuser and sender.last_message_read_time | isactive != 'offline' %}
                            <span class="contact-status online"></span>
                            {% else %}
                            {% endif %}
                            <img src="{{ url_for('static', filename='profilepics/' + sender.image_file) }}" />

                            <div class="meta">
                                <p class="name">{{ sender.fullname }}</p>
                                {% if sender | lastmessageauthor == current_user %}
                                <p class="preview"><span>You: </span> {{ sender | lastmessage }}</p>
                                {% else %}
                                <p class="preview"><span>{{ sender | lastmessage }} </span></p>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                </li>
                {% else %}
                {% endif %}
                {% endfor %}
            </ul>
        </div>

        <div id="bottom-bar">
            <button id="addcontact">
                <ul>
                    <li>
                        <a href="#PeopleToMessage" data-toggle="modal" data-target="#PeopleToMessage" class="noblue">
                            <i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add Contact</span></a></li>
                </ul>
            </button>
            <button id="settings">
                <ul>
                    <li class="disconnect"><a href="{{ url_for('chat.home') }}" class="noblue">
                            <i class="fa fa-sign-out" aria-hidden="true"></i><span>Exit</span></a></li>
                </ul>
            </button>
        </div>

    </div>

    <!-- ? MAIN MESSAGE SECTION -->
    <div class="content">
        <div class="contact-profile">
            <img src="{{ url_for('static', filename='profilepics/' + getuser.image_file) }}" />
            <p>{{getuser.fullname}}
                {% if getuser.last_message_read_time | isactive == 'offline' %}
                <small class="badge badge-pill badge-secondary"><b> {{ getuser.last_message_read_time | isactive }}
                    </b></small></p>
            {% else %}
            <small class="badge badge-pill badge-success"><b> {{ getuser.last_message_read_time | isactive }}
                </b></small></p>
            {% endif %}
        </div>

        <div class="messages">
            <ul>
                {% for msg in messages %}
                {% set deletemessage = url_for('chat.deletemessage', id=msg.id, user=getuser.username) %}
                {% if msg.author == current_user %}
                <li class="replies">
                    {% else %}
                <li class="sent">
                    {% endif %}
                    <img src="{{ url_for('static', filename='profilepics/' + msg.author.image_file) }}" />
                    {% if msg.author == current_user %}
                    <p title="{{msg.timestamp | humanify }} ago">
                        {{ msg.message }} · <a class="fixblue" href="{{ deletemessage }}">
                            <i class="fa fa-trash-o"></i></a></p>
                    {% else %}
                    <p title="{{msg.timestamp | humanify }} ago">{{ msg.message | decrypt }}</p>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="message-input">
            <div class="wrap">
                <input type="text" id="message" placeholder="Write your message..." />
                <button id="sendmessage"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
            </div>
        </div>

    </div>
</div>

<!--? LIST OF USERS IN BBCSOCIAL-->
<div id="PeopleToMessage" class="modal">
    <div class="modal-dialog modal-md pr-0 pl-0">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Send Message</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!--?LIST OF USERS IN BBCSOCIAL STARTS HERE-->
            <div class="modal-body p-0 m-0">
                <ul class="list-unstyled">
                    {% for user in current_user.followed %}
                    <li class="media p-0 m-0">
                        <img class="rounded-circle post-img m-2"
                            src="{{ url_for('static', filename='profilepics/' + user.followed.image_file) }}">

                        <div class="media-body p-0 m-0">
                            <a href="{{ url_for('chat.chatwith', user=user.followed.username) }}"
                                class="btn-sm bold button mx-4 pl-4 pr-4 float-right no-underline active mt-1"
                                role="button">Message</a>

                            <small class="text-dark m-0 d-block mt-2"><b>{{ user.followed.fullname }}</b></small>
                            <small><a class="text-muted d-block"
                                    href="{{ url_for('users.user_posts', username=user.followed.username) }}">
                                    @{{ user.followed.username }}</a></small>
                        </div>
                    </li>
                    <hr class="nastyhr p-0 m-0 mb-1 mt-1 pl-0">
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %}