{% extends "chat/nav.html" %}
{% block content %}


<body>
   	<div class="container">
		<div class="d-flex justify-content-center h-100">

{% for user in users %}
{% if current_user != user %}


<div class="image_outer_container">
	<a class="noblue" href="{{ url_for('chat.chatwith', user=user.username) }}">
				<div class="image_inner_container">
					<img src="{{ url_for('static', filename='profilepics/' + user.image_file) }}" />
				</div>

				<div class="d-flex flex-column justify-content-center text-center">
					<h6>{{user.fullname}}</h6>
					<p>@{{user.username}}</p>

				</div>
						</a>
			</div>

			{% endif %}
{% endfor %}

		</div>
	</div>
</body>
{% endblock content %}
